@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-family:"Lato";
    background: #222;
}
.menu{
    width: 100%;
    height: 50px;
    position: fixed;
    background: #222;
    top: 0;
    z-index:111;
    line-height: 50px;
    padding: 5px;
    border-bottom: 1px solid rgba(207,59,40,0.3);
}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu h1{
    margin: 0 0 0 10px;
    font-weight: 400;
    color: #eaeaea;
    width: 55px;
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #444;
    line-height: 50px;
    font-size: 25px;
    transition: all 0.3s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
.menu h1 span{
    color: #cf3b28;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}
.menu h1:hover{
    color:#666;
}
.menu h1:hover span{
    color:#666;
}
.topnav{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    display: inline-block;
    font-weight: 300;
    color: #eaeaea;
    font-size: 15px;
    letter-spacing: 1px;
}
.topnav li{
    text-align:center;
    color: #eaeaea;
    margin: 0px 7px;
    display: inline-block;
    font-size: 30px;
    line-height: 50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.topnav li:first-child{
    margin-left: 10px;
}
.topnav li:hover{
    color: #cf3b28;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
}
.topnav a{
    text-decoration: none;
    color: inherit;
}
.head{
    color: #eaeaea;
    background: #222;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index:1111;
    text-align: center;
    line-height: 25px;
    transition: all 0.5s;;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.head-hide{
    height: 0vh;
    opacity: 0;
}
.down{
    width: 20px;
    height: 20px;
    opacity: 0.2;
    border-bottom: 5px solid #cf3b28;
    border-right: 5px solid #cf3b28;
    position: absolute;
    bottom: 13px;
    left: 50%;
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}
.down:before{
    content:"scroll";
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.down:hover:before{
    opacity: 1;
}
.head span{
    font-weight: 900;
}
.name{
    width: 500px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: -30px;
}
.bye{
    position:relative;
}
.sub-name{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 7px;
    font-weight: 300;
    margin-left: 23px;
    color: #cf3b28;
    font-size: 35px;
}
.content-wrap{
    position:absolute;
    z-index:1;
}
.sec{
    height: 100vh;
    width: 100vw;
}
.intro{
    background: #333;
    color:#eaeaea;
    text-align:center;
    display:table;
    text-transform:uppercase;
}
.intro .text-contain{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding-left: 10px;
}
.intro .text{
    padding-top: 30px;
    text-align: center;
    width: 470px;
    margin: 0 auto;
}
.intro h2{
    vertical-align:middle;
    font-size: 40px;
    margin: -5px 0 ;
}
.intro h3{
    font-weight: 300;
    color:#cf3b28;
    font-size: 19px;
    letter-spacing: 0.5px;
    margin: 0 0 0px 0;
}
.intro h5{
    font-weight: 900;
    color:#1e1e1e;
    margin: 0;
    font-size: 15px;
    letter-spacing: 3.9px;
}
#bot-h5{
    color: #eaeaea;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 30px;
}
.pg-btn{
    width: 150px;
    height: 15px;
    line-height: 15px;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 300;
    font-size: 15px;
}
.begin{
    margin: 30px auto;
     letter-spacing: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.begin:hover{
    background:#222;
    border-bottom: 1px solid #cf3b28;
    letter-spacing: 6px;
}

.side{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index:11;
    height: auto;
    overflow-y:scroll;
    overflow-x:hidden;
    background: #eaeaea;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.unseen{
    display:none;
}
.showing{
    left: 0;
}
.desc{
    margin-top: 60px;
}
.desc h1{
    text-align: right;
    font-size: 30px;
    padding-right:10px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 45px;
}
.sec-A h1{
    color: #cf3b28;
    border-bottom: 1px solid #cf3b28;
}
.sec-A h1 span{
    font-weight: 300;
    font-size: 25px;
    color: #aaa;
    line-height: 0;
}

.foot{
    height: 90px;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.sub-btn{
    margin: 0 auto;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    height: 15px;
    padding: 10px 0;
    font-weight: 300;
    line-height: 15px;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.2);
    display: table-cell;
    vertical-align:middle;
    font-size: 15px;
    letter-spacing: 3px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.back-btn{
    border-bottom: 1px solid #222;
    background: #eaeaea;;
    color: #cf3b28;
}
.back-btn:hover{
    background: #cf3b28;
    letter-spacing: 4px;
    border-bottom: 1px solid #cf3b28;
    color: #eaeaea;
}
.photo-btn{
    background: #cf3b28;
    color: #eaeaea;
    cursor:pointer;
    border-bottom: 1px solid #222;
}
.photo-btn:hover{
    background: #eaeaea;
    color: #cf3b28;
    letter-spacing: 5px;
}
.sec-B{
    background: #cf3b28;
}
.sec-B h1{
    color: #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.photo-content ul{
    list-style: none;
    margin: 0;
    padding: 40px 5px;
    text-align: center;
}
.photo-content img, .photo-content .desc{
    display: inline-block;
}
.photo-content img{
    max-width: 450px;
}
.photo-content .desc{
    width: 450px;
    margin: 0 0 0 50px;
    text-align: left;
    vertical-align: top;
}
.desc h3{
    margin: 0 auto;
    text-align: center;
    width: 350px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.com-desc h3{
    color: #222;
    border-bottom: 1px solid #222;
}
.pers-desc h3{
    color: #cf3b28;
    border-bottom: 1px solid #cf3b28;
}
.desc p{
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 17px;
    font-weight: 300; 
    padding: 10px;
}
.com-desc p{
    color: #cf3b28;
}
.pers-desc p{
    color:#eaeaea;
}
.photo-content h5{
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    width: 125px;
    cursor: pointer;
    margin: 55px auto;
    padding-bottom: 5px;
    font-weight: 900;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.com-btn{
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
.pers-btn{
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
.photo-content h5:hover{
    letter-spacing: 4px;
    color: #cf3b28;
}
.personal ul{
    background: #222;
}
.code-content{
    text-align:center;
    padding-bottom: 35px;
}
.code-content h2{
    font-size: 45px;
    color: #eaeaea;
    letter-spacing: 3px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.code-content p{
    font-size: 17px;
    margin: 0 auto 20px auto;
    width: 400px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 300;
}
.code-content span{
    color: #eaeaea;
}
.code-content a{
    text-decoration:none;
    color:#eaeaea;
    cursor:pointer;
}
.code-content a:hover{
    text-decoration: underline;
}
.img-placeholder{
    width: 480px;
    height: 150px;
    background: #555;
    margin: 20px auto;
    box-shadow:inset 0px 50px 0px black, inset 0px 100px 0px #333; 
}
.code-content img{
    border: 1px solid #eaeaea;
}
.code-top{
    font-size: 100px;
    color: #222;
    margin-top: -20px;
    text-shadow: 5px 5px 0px #eaeaea;
    margin-bottom: -10px;
}